*.c linguist-language=C
*.c linguist-detectable=true

*.h linguist-language=C
*.h linguist-detectable=true

*.sh linguist-language=Shell
*.sh linguist-detectable=true

Dependencies/* linguist-vendored