*.a
*.bak
*.cab
*.class
*.db
*.db-shm
*.db-wal
*.dll
*.DS_Store
*.el
*.exe
*.htm
*.html
*.icns
*.idb
*.ilk
*.iml
*.ini
*.ipch
*.lib
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msm
*.msp
*.ncb
*.ndf
*.o
*.obj
*.opendb
*.opensdf
*.opt
*.pbxuser
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.plist
*.rel
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.sqlite
*.suo
*.swp
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.vcxproj.user
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xcbkptlist
*.xccheckout
*.xcscheme
*.xcscmblueprint
*.xcuserstate
*.xml
*~
*~.nib
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V*
.DS_Store
.DS_Store?
.fseventsd
.fuse_hidden*
.LSOverride
.nfs*
.Spotlight-V100
.sw[a-p]
.TemporaryItems
.Trash-*
.Trashes
.vs/
.worksheet
.\#*
._*
Icon
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!default.pbxuser
$RECYCLE.BIN/
*.xcschemes/
*.xcuserdatad/
*.xcworkspace/
bin/
BUILD/
DerivedData/
ipch/
Temporary Items/
xcuserdata/
_UpgradeReport_Files/
