#include <Windows.h>
#include "../Library/include/Private/FoundationIO_Version.h"

#pragma code_page(65001)

LANGUAGE LANG_ENGLISH,SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
FILEVERSION    FoundationIO_Version_Major,FoundationIO_Version_Minor,FoundationIO_Version_Patch,FoundationIO_Version_CommitID
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_DLL
PRODUCTVERSION FoundationIO_Version_Major,FoundationIO_Version_Minor,FoundationIO_Version_Patch,FoundationIO_Version_CommitID
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "LegalCopyright",  "© Marcus Johnson, 2020"
            VALUE "FileDescription", "Platform Independent Base Library"
            VALUE "FileVersion",     "FoundationIO_Version_Major.FoundationIO_Version_Minor.FoundationIO_Version_Patch.FoundationIO_Version_CommitID"
        END
    END
END
